<meta charset="UTF-8">
<nav class="navbar">
  <div class="logo">
    <span class="logo-main">LUND</span>
    <span class="logo-sub">KLINIK FOR FODTERAPI</span>
  </div>
  <div class="navbar-line"></div>
  <div class="nav-items">
    <a href="/html/aboutPage.html">Om Klinikken</a>
    <a href="/html/priser.html">Priser</a>
    <a href="/html/behandlinger.html">Behandlinger</a>
    <a href="/html/produkter.html">Shop</a>
    <a href="/tips">Tips til fodpleje</a>
    <a href="/html/contact.html">Kontakt</a>
    <a href="/book-insoel">Book fodindlæg</a>
  </div>
</nav>
