body {
    font-family: 'Open Sans', sans-serif;
}

#calendarDiv {
    max-width: 100%;
    height: 100%;
}

.calendar-wrapper {
    padding: 20px;
    height: 100%;
}

.fc-timegrid-slot {
    height: 40px !important;
}