* {
    font-family: 'Playfair Display', serif;
}

.dashboard-layout {
    display: flex;
    min-height: 100vh;
    background-color: #fefaf6;
}

.sidebar {
    width: 80px; /* smal sidebar */
    background-color: #7a5c55;
    padding: 2rem 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    height: 100vh;
}


.sidebar-bottom {
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
}



.booking-admin-section {
    margin-left: 80px;
    padding: 3rem 2rem;
    display: flex;
}

.container {
    margin-left: 80px;
}
.icon-links {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
}

.icon-links a {
    color: #5e3c2d;
    font-size: 1.6rem;
    text-decoration: none;
    transition: transform 0.2s ease, color 0.2s ease;
}

.icon-links a:hover {
    transform: scale(1.2);
    color: #3a2418;
}

/* MAIN CONTENT */
.main-content {
    margin-left: 80px;
    flex-grow: 1;
    padding: 3rem;
    background-color: #fefaf6;
    min-height: 50vh;
}


.info-cards {
    display: flex;
    gap: 20px;
    cursor: pointer;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 10px;
    flex: 1;
    text-align: center;
    font-weight: bold;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

/* REQUESTS */
.requests-section {
    background-color: #fefaf6;
}

.requests-section h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #5e3c2d;
}

.requests-table {
    border-collapse: collapse;
}

.requests-table th,
.requests-table td {
    border: 1px solid #d4c5b6;
    padding: 1rem;
    text-align: left;
}

.requests-table th {
    background-color: #e8e4e0;
    color: #5e3c2d;
}
