.hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    text-align: center;
    overflow: hidden;
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column-middle {
    color: #5e3c2d;
    position: relative;
    z-index: 1;
}

.column-middle h2 {
    font-size: 5rem;
    margin-bottom: 1rem;
}

.column-middle p {
    font-size: 3rem;
    margin-bottom: 7rem;
}

.hero-feet {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 80%;
    max-width: none;
    z-index: 0;
}
